<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>
<body>

<h1 th:text="${title}">タイトル</h1>

<th:block th:each="equip :${equipList}">
    <ul>
       <li >
           <a th:text="${equip.equipName}" th:href="@{/equip(id=${equip.equipId})}"></a>
       </li>
    </ul>
</th:block>
<br>

<div>
    <a th:href="@{/equip/addForm}"  th:text="add_equip">add equip</a>
</div>
</body>
</html>